.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #666666;
  }

  .logo {
    color: #FF5722;
  }
  
  .nav-links a {
    color: #FBFBFB;
    margin-left: 15px;
    text-decoration: none;
  }
  
  .nav-links a:hover {
     color: E0E0E0;
     padding-bottom: 2px; 
     transition: border-color 0.3s ease;
  }
  